<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Objetivo</title>
    <link rel="stylesheet" href="css/style.css">
    <script type="module" src="js/objectiveRadioController.js" defer></script>
</head>
<body>
    <form action="/<%= update? 'updateObjective' : 'chooseObjective' %>" method="post" class="chooseObjectiveForm">
        <h2>Qual seu objetivo?</h2>
        <% objetivos.forEach(objetivo => { %>
            <input type="radio" name="objetivo" value="<%= objetivo.id %>" id="<%= objetivo.id %>" style="display: none;">
            <label for="<%= objetivo.id %>" id="label<%= objetivo.id %>">
                <h3><%= objetivo.titulo %></h3>
                <p><%= objetivo.descricao %></p>
            </label>
        <% }) %>

            <div class="objectiveButtonsArea">
                <a href="/<%= update? '' : 'chooseHabits' %>" ><%= update? 'Cancelar' : 'Pular' %></a>
                <button type="submit" disabled><%= update? 'Atualizar' : 'Continuar' %></button>
            </div>
    </form>
</body>
</html>